{% extends 'base.html' %}

{% block head_title %}Login{% endblock %}

{% block content %}

{% if form.errors %}
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong> {{form.non_field_errors}}
</div>
{% endif %}

<div class="form-wrapper">
    <h3 class="titulo-panel">Inicia Sesión</h3>
    <div class="row">
        {% load account socialaccount %}
        {% get_providers as socialaccount_providers %}
        <div class="col-xs-6 col-sm-6 col-md-6 col-center">
        <ul class="list-inline">
        {% for provider in socialaccount_providers %}
            <li>
              <a id="{{provider.id}}" title="{{provider.name}}" class="socialaccount_provider " href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
                 <span class="icon-{{provider.id}}"></span>
              </a>
            </li>
        {% endfor %}
        </ul>
        </div>
    </div>
    <form id="login-form" method="POST" action="{% url 'account_login' %}"> {% csrf_token %}
        <!--Mensajes de error para el campo de login-->
        {% if form.login.errors %}
        <p class="bg-warning">
            {% for error in form.login.errors %}
            {{error}}
        </p>
        {% endfor %}
        {% endif %}
        <!-- Campo Login-->
        <div class="contenedor-input">
            {{ form.login }}
        </div>
        <!--Mensajes de error para el campo de password-->
        {% if form.login.password %}
        <p class="bg-warning">
            {% for error in form.password.errors %}
            {{error}}
        </p>
        {% endfor %}
        {% endif %}
        <!-- Campo password-->
        <div class="contenedor-input">
            {{ form.password }}
        </div>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="contenedor-input">
            <button class="primaryAction btn btn-primary submit-form" type="submit">Entrar</button>
        </div>
        <div class="contenedor-input">
            <a id="recuperar-password" class="button secondaryAction" href="{% url 'account_reset_password' %}">¿Olvidaste tu contraseña?</a>
        </div>
    </form>
</div>


{% endblock %}
