{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}Recuperar Contraseña{% endblock %}

{% block content %}

{% if form.errors %}
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong> {{form.non_field_errors}}
</div>
{% endif %}

<div id="form-reset" class="form-wrapper">
    <h3 class="titulo-panel">Recuperar Contraseña</h3>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <div class="contenedor-input">
        <p>¿Has olvidado tu contraseña? Ingresa tu dirección de correo electrónico aquí abajo. Te enviaremos un correo para que puedas recuperar tu contraseña.</p>
    </div>

    <form id="form-reset-password" method="POST" action="{% url 'account_reset_password' %}" class="password_reset"> {% csrf_token %}
        {% if form.email.errors %}
        <div class="contenedor-input">
            <p class="bg-warning">{{ form.email.errors }}</p>
        </div>
        {% endif %}
        <div class="contenedor-input">{{ form.email }}</div>
        <div class="contenedor-input">
            <button class="btn btn-primary submit-form" type="submit">Recuperear contraseña</button>
        </div>
    </form>

    <div class="contenedor-input">
        <p>Si tuviste problemas al recuperar tu contraseña, por favor comunicate con nosotros. </p>
    </div>
</div>
{% endblock %}
