{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}Verifica tu correo electrónico{% endblock %}

{% block content %}
<div class="col-xs-11 col-sm-10 col-md-10 col-center panel-informacion">
    <h2 class="titulo-informacion">Verifica tu dirección de correo electrónico.</h2>

    <p class="lead">Te hemos enviado un correo de verificación. Haz click en link para completar tu registro. Si no has recibido el correo, por favor comunicate con nostros.</p>
</div>


{% endblock %}
