<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
<div id="contenedor-pagina">
    <header id="header">
        <div id="contenedor-header">
            <h1 id="titulo-header"><a href="#">Geek Post</a></h1>
            <nav id="menu-header">
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Signup</a></li>
                    {% else %}
                    <li><a href="#">Logout</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <div id="contenido">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>