<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href="https://file.myfontastic.com/MaQv9ELxzupxov3cqYdLwe/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
<div id="contenedor-pagina">
    {% block header %}
    <header id="header">
        <div id="contenedor-header">
            <h1 id="titulo-header">
                <a href="{% url 'articulo:lista_articulos' %}">
                    <img src="{% static 'img/logo.png' %}" alt="Geek Post" />
                </a>
            </h1>
            <nav id="menu-header">
                <ul>
                    <li><a href="{% url 'articulo:lista_articulos' %}" class="icon-home">Home</a></li>
                    {% if user.is_authenticated %}
                    <li><a class="icon-user">{{user}}</a></li>
                    {% if user.username == 'admin' %}
                    <li><a class="icon-plus" href="{% url 'articulo:crear_articulo' %}">Post</a></li>
                    {% endif %}
                    <li><a href="{% url 'account_logout' %}" class="icon-sign-out">Salir</a></li>
                    {% else %}
                    <li><a href="{% url 'account_login' %}" class="icon-sign-in">Entrar</a></li>
                    <li><a href="{% url 'account_signup' %}" class="icon-user">Registrarse</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    {% endblock %}
    <div id="contenido">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>