<!-- Blog Sidebar Widgets Column -->
<div class="col-md-4">

    <!-- Blog Categories Well -->
    <div class="well">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="titulo-panel"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Categorías</h3>
                {% if categorias %}
                <section id="contenedor-categorias">
                    {% for categoria in categorias %}
                    <div class="categoria">
                        <a href="{{ categoria.get_absolute_url|escape }}">{{categoria}}</a>
                    </div>
                    {% endfor %}
                </section>
                {% else %}
                <h3>La lista de Categorías está vacia.</h3>
                {% endif %}
            </div>
        </div>
        <!-- /.row -->
    </div>
</div>
