{% extends 'base.html' %}

{% block head_title %}Artículos{% endblock %}

{% block content %}
    {% if lista_articulos %}
    <section id="seccion-posts">
    {% for articulo in lista_articulos %}
    <article class="post">
        <h2><a href="{{ articulo.get_absolute_url }}">{{articulo.titulo}}</a><br />
        <small>{{articulo.fecha_publicacion}}</small></h2>
        {% if articulo.imagen %}
        <div class="contenedor-imagen">
            <img class="imagen-post" src="{{ articulo.imagen.url }}" alt="">
        </div>
        {% endif %}
        {% autoescape off %}
        <p class="introduccion-articulo">{{articulo.get_introduccion}}</p>
        {% endautoescape %}
        <a href="{{ articulo.get_absolute_url }}" class="leer-mas icon-book">Leer más>></a>
    </article>
    {% endfor %}
        <ul class="paginacion">
            {% if page_obj.has_previous %}
            <li><a href="?page={{page_obj.previous_page_number}}">Anterior</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{page_obj.next_page_number}}">Siguiente</a></li>
            {% endif %}
        </ul>
    </section>
    {% endif %}
    {% include 'articulos/categorias.html' %}
{% endblock %}