{% extends 'base.html' %}

{% block head_title %}Artículos{% endblock %}

{% block content %}
    {% if lista_articulos %}
    <section id="seccion-posts">
    {% for articulo in lista_articulos %}
    <article class="post">
        <h2><a href="{% url 'articulo:ver_articulo' articulo.id %}">{{articulo.titulo}}</a><br />
        <small>{{articulo.fecha_publicacion}}</small></h2>
        {% if articulo.imagen %}
        <img class="imagen-post" src="{{ articulo.imagen.url }}" alt="">
        {% endif %}
        <p class="introduccion-articulo">{{articulo.introduccion}}</p>
        <a href="{% url 'articulo:ver_articulo' articulo.id %}" class="leer-mas icon-book">Leer más>></a>
    </article>
    {% endfor %}
    </section>
    {% endif %}
    {% include 'articulos/categorias.html' %}
{% endblock %}