{% extends 'base.html' %}

{% block head_title %}Artículos{% endblock %}

{% block content %}
    <div class="col-md-8">
        <h1 class="page-header">
            Geek Post
        </h1>
        {% if lista_articulos %}
        {% for articulo in lista_articulos %}
        <h2>
            <a href="{{ articulo.get_absolute_url }}">{{ articulo.titulo }}</a>
        </h2>
        <p class="lead">
            Subido por <a href="#">{{articulo.autor}}</a>
        </p>
        <p><span class="glyphicon glyphicon-time"></span> {{ articulo.fecha_publicacion }}</p>
        <hr>
        {% if articulo.imagen %}
        <img class="img-responsive img-portada-articulo" src="{{ articulo.imagen.url }}" alt="artículo" />
        {% endif %}
        <hr>
        {% autoescape off %}
        <p class="introduccion">{{ articulo.get_introduccion }}</p>
        <a class="btn btn-primary boton-leer-mas" href="{{ articulo.get_absolute_url }}">Leer más <span class="glyphicon glyphicon-chevron-right"></span></a>
        {% endautoescape %}
        <hr>
        {% endfor %}
        {% else %}
        <div>La lista de artículos está vacía.</div>
        {% endif %}
        <nav aria-label="Page navigation">
            <ul id="paginacion" class="pagination pagination-lg">
                {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="disabled">
                    <span>
                        <span aria-hidden="true">&laquo;</span>
                    </span>
                </li>
                {% endif %}

                {% if paginator.page_range %}
                {% for i in paginator.page_range %}
                {% if i == pagina_actual %}
                <li class="active">
                    <span>{{ i }}<span class="sr-only">(current)</span></span>
                </li>
                {% else %}
                <li><a href="?page={{i}}">{{i}}</a></li>
                {% endif %}
                {% endfor %}
                {% endif %}

                {% if page_obj.has_next %}
                <li>
                    <a href="?page={{page_obj.next_page_number}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="disabled">
                    <span>
                        <span aria-hidden="true">&raquo;</span>
                    </span>
                </li>
                {% endif %}
            </ul>
        </nav>
        <hr/>
    </div>
    {% include 'articulos/categorias.html' %}
{% endblock %}