{% extends 'base.html' %}

{% block head_title %}{{articulo.titulo}}{% endblock %}

{% block content %}
<div class="contenedor-articulo">
    <h1>{{articulo.titulo}}</h1>
    {% if articulo.imagen %}
    <img class="imagen-post" src="{{ articulo.imagen.url }}" alt="">
    {% endif %}
    <p>{{articulo.contenido|safe}}</p>
    <div class="contenedor-fechas">
        <div><b>Fecha de Publicación:</b> {{articulo.fecha_publicacion}}</div>
        <div><b>Última Actualización:</b> {{articulo.ultima_actualizacion}}</div>
    </div>
</div>
{% include 'articulos/categorias.html' %}
{% endblock %}